{% extends 'proyecto/base.html' %} 
{% block content %} 
    {% include 'proyecto/siderbar.html' %} 
    <main id="main" class="main">

        <div class="pagetitle">
          <h1>Proyecto</h1>
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'home-page' %}">Home</a></li>
              <li class="breadcrumb-item">Proyectos</li>
              <li class="breadcrumb-item active">Registrar</li>
            </ol>
          </nav>
        </div><!-- End Page Title -->
    
        <section class="section">
          <div class="row">
            <div class="col-lg-12">
    
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Registrar Proyecto</h5>
                  {% if form.errors %}
                  <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <h4 class="alert-heading">Por favor corrige los siguientes errores</h4>
                    <hr>
                    <ul>
                      {% for field in form %}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <p> <i class="bi bi-x-circle-fill"></i> {{ field.label }}: <a href="#id_{{ field.name }}" class="text-danger">{{ error|escape }}</a> </p>
              
                            {% endfor %}
                        {% endif %}
                      {% endfor %}
                    </ul>
                    {% if form.non_field_errors %}
                      {{ form.non_field_errors }}
                    {% endif %}
                  </div>
                  {% endif %}
                  
                  <!-- General Form Elements -->
                  <form method="post" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    
                    <div class="row mb-3">
                      <label for="titulo" class="col-sm-2 col-form-label">{{ form.title.label }}</label>
                      <div class="col-sm-10">
                        {{ form.title }}
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="tags" class="col-sm-2 col-form-label">{{ form.tags.label }}</label>
                      <div class="col-sm-10">
                        {{ form.tags }}
                      </div>
                    </div>
                    <div class="row mb-3">
                        <label for="descripcion" class="col-sm-2 col-form-label">{{ form.descripcion.label }}</label>
                        <div class="col-sm-10">
                            {{ form.descripcion }}
                        </div>
                    </div>
                    <div class="row mb-3">
                      <label for="foto" class="col-sm-2 col-form-label">{{ form.foto.label }}</label>
                      <div class="col-sm-10">
                        {{ form.foto }}
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="git" class="col-sm-2 col-form-label">{{ form.git.label }}</label>
                      <div class="col-sm-10">
                        {{ form.git }}
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col-sm-10 text-center">
                        <button type="submit" class="btn btn-primary">Registrar</button>
                      </div>
                    </div>
    
                  </form>
                  <!-- End General Form Elements -->
    
                </div>
              </div>
    
            </div>
          </div>
        </section>
    
      </main><!-- End #main -->
{% endblock content %}
